{% extends "tree/main.html" %}
{% load static %}

{% block content %}
<li>
    <strong>{{orders.name}}</strong>
    <br>
    <p>Customer Email: {{orders.user}} </p>
    <p>Amount: {{orders.price}} </p>
    <p>Created: {{orders.created_at}} </p>
    <p>Updated: {{orders.updated_at}} </p>
    {% for tree in  orders.items.all %}
    <img src="{% static tree.tree.image.url %}" alt="{{ tree.name }}">
    <p>{{tree.tree.name}} </p>
    <p>{{tree.quantity}} </p>
    {% endfor %}
    {% if tree.image %}
    <img src="{% static tree.image.url %}" alt="{{ tree.name }}">
    <br>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
    </form>
    <a href="{% url 'order_delete' orders.pk %}">Delete</a>
    <hr>
</li>
{% endblock content %}