{% extends "tree/main.html" %}
{% load static %}

{% block content %}
<h1>{{ tree.name }}</h1>
    <p>Category: {{ tree.category.name }}</p>
    <p>Description: {{ tree.description }}</p>
    <p>Size: {{ tree.size }}</p>
    <p>Price: ${{ tree.price }}</p>
    <p>Quantity: {{ tree.quantity }}</p>
    {% if tree.image %}
        <img src="{% static tree.image.url %}" alt="{{ tree.name }}">
    {% endif %}
    {% if request.user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add to Cart</button>
        </form>
    {% else %}
    <br>
        <button><a href="{% url 'signin' %}">Log in to Place order</a></button>
        <br>
    {% endif %}
    
<button><a href="{% url 'tree_list' %}">Back to List</a></button>
{% endblock content %}
